:root {
  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan-400: hsl(184, 100%, 22%);
  --clr-cyan-500: hsl(179, 100%, 13%);
  --clr-gray-200: hsl(0, 0%, 95%);
  --clr-gray-400: hsla(0, 0%, 100%, 0.75);

  --ff-base: "Lexend Deca", sans-serif;
  --ff-accent: "Big Shoulders Display", cursive;

  --fw-regular: 400;
  --fw-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 👋 */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  background-color: var(--clr-gray-200);

  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-group {
  border-radius: 8px;
  overflow: hidden;

  display: flex;
}

.preview {
  max-width: 30.6rem;
  font-size: 1.5rem;
  color: var(--clr-gray-400);
  padding: 4rem;
}

.preview--sedans {
  background-color: var(--clr-orange);
}

.preview--suvs {
  background-color: var(--clr-cyan-400);
}

.preview--luxury {
  background-color: var(--clr-cyan-500);
}

.preview__title {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  color: var(--clr-gray-200);
  font-size: 3.2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.preview__text {
  margin-bottom: 5rem;
}

.preview__btn {
  background-color: var(--clr-gray-200);
  border: none;
  border-radius: 666px;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

.preview__btn--sedans {
  color: var(--clr-orange);
}

.preview__btn--suvs {
  color: var(--clr-cyan-400);
}

.preview__btn--luxury {
  color: var(--clr-cyan-500);
}

.footer {
  margin: 1rem 0;
  text-align: center;
}

@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }

  body {
    margin-top: 5rem;
  }

  .preview-group {
    flex-direction: column;
  }
}
